*{
    margin: 0;
    padding: 0;
}
.content{
    width: 980px;
    margin: 20px auto;
}
.content > div{
    display: inline-block;
    vertical-align: top;
}
.card{
    background: #fff;
    width: 396px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 40px;
}
.input-container > input[type=text],
.input-container > input[type=password]{
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 17px;
}
.input-container > input[type=text]:focus,
.input-container > input[type=password]:focus{
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff
}
.crt-page{
    color: #000;
    text-align: center;
    padding: 20px 0;
}
.crt-page > a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.f-lg-footer{
    width: 980px;
    margin: 30px auto;
}
.f-lg-footer > ul{
    margin-bottom: 10px;
    margin-top: 10px;
}
.f-lg-footer > ul > li{
    display: inline-block;
    margin: 0 5px;
}
.f-lg-footer > ul > li > a{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}